.primary-btn {
    border: none;
    outline: none;
    background: none;
    color: var(--body-color);
    font-size: 1rem;
    text-transform: capitalize;
}

.primary-btn .container {  
    display: flex;
    align-items: center;
    background: var(--font-color);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 1px 16px #5f5f5f16;
}

.primary-btn .container svg {
    width: 20px;
    height: 20px;
    padding: 16px;
    border-radius: 50%;
    background: var(--primary-color);
    color: var(--body-color);
}

.primary-btn .container span {
    padding-inline: 32px;
    padding-block: 8px;
}

.primary-btn .container:hover {
    background: var(--primary-color);
}
