footer {
    width: 100%;
}

footer .footer-container {
    background: var(--font-color);
    color: var(--body-color);
    padding: 2rem;
}

footer .footer-container p {
    margin-left: 8rem;
}

@media screen and (max-width : 992px) {
    footer {
        margin-top: 80rem;
    }

    footer .footer-container p {
        margin-left: 2rem;
        text-align: center;
        line-height: 400%;
    }
}